<ion-view title="Message Board" cache-view="false">
  <ion-content padding="true" class="has-header">

      <h6 ng-if="!allMessages">No messages to display.</h6>


      <div class="messageContainer">

        <ol class="discussion" ng-if="allMessages" ng-repeat="message in allMessages | orderBy: 'created_at'">
          <div ng-if="message.posterId !== currentUser.id">
            <li class="msgOther">
              <div class="messages">
                <div class="message-header-other">
                  {{message.posterName}}
                </div>
                <p>{{message.content}}</p>
                <span>{{message.postTime.postTime}}</span>
              </div>
            </li>
          </div>
          <div ng-if="message.posterId === currentUser.id">
            <li class="msgSelf">
              <div class="messages">
                <!-- <div class="message-header-self">
                  {{message.posterName}}
                </div> -->
                <p>{{message.content}}</p>
                <span>{{message.postTime.postTime}}</span>
              </div>
            </li>
          </div>
        </ol>

      </div>
  </ion-content>

  <form name="boardPostForm" class="postMessageForm" ng-submit="postMessage(msgText)">

      <label class="item item-input">
        <input class="postMessageInput" type="text" ng-model="msgText" placeholder="Post message"></input>
      </label>
      <div ng-click="postMessage(msgText)" class="send"><i class="icon ion-paper-airplane"></i></div>

  </form>
  <!-- <form class="postMessageForm" ng-submit="postMessage(msgText)">
    <label class="item item-input">
      <input type="text" ng-model="msgText" placeholder="Comments"></input>
    </label>
    <button class="button button-positive button-block">Post</button>
  </form> -->

</ion-view>
