<ion-view title="Chores" cache-view="false" id="page2">
  <ion-content padding="true" class="has-header">
  <p>{{currentTime}}</p>
  <!-- <p>{{test}}</p>
    <p>{{oneChore}}</p> -->
      <div class="">
        <h4>Due Today</h4>
        <hr>
        <div ng-repeat="choreData in allChores">
        <div class="choreCard late" ng-if="choreData.dueToday === true && choreData.late === true && choreData.done === false">
          <p>LATE</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>

        <div class="choreCard due" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === false">
          <p>DUE TODAY</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>

        <div class="choreCard complete" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === true">
          <p>COMPLETED</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
      </div>
    </div>

    <div class="">
      <h4>Due This Week</h4>
      <hr>
      <div ng-repeat="choreData in allChores">
        <div class="choreCard"  ng-if="choreData.dueToday === false && choreData.done === false && choreData.late === false">
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
        <div class="choreCard complete"  ng-if="choreData.dueToday === false && choreData.done === true && choreData.late === false">
          <p>COMPLETED</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
      </div>
    </div>





    <div class="">
      <a ui-sref="tabsController.newChore()" class="button button-calm button-block button-outline">Add New Chore</a>
    </div>

    <button class="button button-full button-balanced" ng-click="changeDay()">
      Change Day
    </button>

  </ion-content>
</ion-view>
