<ion-view title="Chores" cache-view="false">
  <ion-content class="has-header">
    <div class="chores-top">
      <p>{{currentTime}}</p>
      <a ui-sref="tab.newChore()" class="button button-calm button-block button-outline">Add New Chore</a>
    </div>

  <!-- My Chores (DUE TODAY) -->
  <div class="my-chores-header">
    <!-- Text -->
    <div class="my-chores-header-text">
      <h4 class="header-white">My Chores</h4>
      <ng-pluralize count="myChores.length"
      when="{'0': '{{myChores.length}} chores',
      '1': '{{myChores.length}} chore',
      'other': '{{myChores.length}} chores'}">
    </ng-pluralize>
    </div>
    <!-- Dropdown Button -->
    <div class="check-circle" ng-class="{'check-circle-active': clickedA}" ng-click="clickedA = !clickedA"><i class="icon ion-ios-arrow-down down-arrow"></i></div>
  </div>
  <!-- Chores -->
    <div ng-repeat="choreData in myChores" class="chore-section" ng-class="{'chore-section-active': clickedA}">
      <!-- Due Today or Late -->
      <div class="choreCard late" ng-if="choreData.dueToday === true && choreData.late === true && choreData.done === false">
        <p>LATE</p>
        <h5>{{choreData.chore}}</h5>
        <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
        <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
        <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
        <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
        <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
      </div>

      <div class="choreCard due" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === false">
        <p>DUE TODAY</p>
        <h5>{{choreData.chore}}</h5>
        <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
        <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
        <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
        <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
        <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
      </div>

      <div class="choreCard complete" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === true">
        <p>COMPLETED</p>
        <h5>{{choreData.chore}}</h5>
        <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
        <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
        <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
        <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
        <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
      </div>

      <!-- Not Due Today, Not Late -->
      <div class="choreCard"  ng-if="choreData.dueToday === false && choreData.done === false && choreData.late === false">
        <h5>{{choreData.chore}}</h5>
        <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
        <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
        <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
        <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
        <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
      </div>

      <div class="choreCard complete"  ng-if="choreData.dueToday === false && choreData.done === true && choreData.late === false">
        <p>COMPLETED</p>
        <h5>{{choreData.chore}}</h5>
        <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
        <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
        <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
        <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
        <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
      </div>
    </div>

  <!-- Everyone's Chores (THIS WEEK) -->
  <div class="other-chores-header">
    <div class="my-chores-header-text">
      <h4 class="header-white">Other Chores</h4>
      <ng-pluralize count="otherChores.length"
                     when="{'0': '{{otherChores.length}} chores',
                         '1': '{{otherChores.length}} chore',
                         'other': '{{otherChores.length}} chores'}">
      </ng-pluralize>
    </div>
    <div class="check-circle" ng-class="{'check-circle-active': clickedB}" ng-click="clickedB = !clickedB"><i class="icon ion-ios-arrow-down down-arrow"></i></div>
  </div>
      <div ng-repeat="choreData in otherChores" class="chore-section" ng-class="{'chore-section-active': clickedB}">
        <!-- Due Today or Late -->
        <div class="choreCard late" ng-if="choreData.dueToday === true && choreData.late === true && choreData.done === false">
          <p>LATE</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>

        <div class="choreCard due" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === false">
          <p>DUE TODAY</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>

        <div class="choreCard complete" ng-if="choreData.dueToday === true && choreData.late === false && choreData.done === true">
          <p>COMPLETED</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
        <!-- Not Due Today, Not Late -->
        <div class="choreCard"  ng-if="choreData.dueToday === false && choreData.done === false && choreData.late === false">
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
        <div class="choreCard complete"  ng-if="choreData.dueToday === false && choreData.done === true && choreData.late === false">
          <p>COMPLETED</p>
          <h5>{{choreData.chore}}</h5>
          <p>Assigned To: {{findUserName(choreData.cycle.cycleList[choreData.currentAssigned])}}</p>
          <p>Due: {{choreData.currentDueDay.currentDueDay}}</p>
          <button type="button" name="button" ng-click="markDone(choreData)">Mark Done</button>
          <button type="button" name="button" ng-click="editChore(choreData)">Edit Chore</button>
          <button type="button" name="button" ng-click="deleteChore(choreData)">Delete Chore</button>
        </div>
      </div>



  </ion-content>
</ion-view>
