<ion-view title="House Setup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" scroll="false">

  <!-- Landing -->
  <div class="" ng-if="hideIntro">
    <h2>Not currently part of a house group</h2>

    <button ng-click="joinButton()" class="button button-calm button-block button-outline">Join Existing House</button>
    <button ng-click="createButton()"class="button button-calm button-block button-outline">Create New House</button>
  </div>
  <!-- Join form -->
  <div class="" ng-if="showJoinContainer">
    <h2>Enter house code:</h2>

    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">House Name</span>
          <input type="text" placeholder="House Name" ng-model="joinFormData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">House Code</span>
          <input type="text" placeholder="Code" ng-model="joinFormData.code">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <h4 class="" style="color: red">{{joinError.text}}</h4><span style="color: red">{{joinError.msg}}</span>
      <button ng-click="joinFormSubmit(joinFormData)" class="button button-stable button-block">Join House</button>
    </form>
  </div>
  <!-- Create form -->
  <div class="" ng-if="showCreateContainer">
    <h2>Create a New House Group:</h2>

    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">House Name</span>
          <input type="text" placeholder="House Name" ng-model="createFormData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">House Code</span>
          <input type="text" placeholder="Code" ng-model="createFormData.code">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <h4 class="" style="color: red">{{createError.text}}</h4><span style="color: red">{{createError.msg}}</span><span style="color: red">{{createError.err}}</span>
      <button ng-click="createFormSubmit(createFormData)" class="button button-stable button-block">Create House</button>
    </form>
  </div>



  </ion-content>
</ion-view>
