<ion-view title="House Setup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content scroll="false">

  <div class="login-section">

  <!-- Landing -->
  <div class="new-user-landing" ng-if="hideIntro">
    <img src="../img/housepal-logo.png" alt="">
    <div class="">
      <h3>Welcome!</h3>
        <p>You are currently not part of a house group. Would you like to join an existing house, or start your own house group?</p>
    </div>

    <button ng-click="joinButton()" class="button button-positive button-block">Join Existing House</button>
    <button ng-click="createButton()"class="button button-balanced button-block">Create New House</button>
  </div>

  <!-- Join form -->
  <div class="new-user-landing" ng-if="showJoinContainer">
    <img src="../img/housepal-logo.png" alt="">
    <h3>Join Existing House</h3>

    <form class="login-form">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">House Name</span>
          <input type="text" placeholder="House Name" ng-model="joinFormData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">House Code</span>
          <input type="text" placeholder="Code" ng-model="joinFormData.code">
        </label>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <p class="error-text">{{joinError.text}}</p>
      <button ng-click="joinFormSubmit(joinFormData)" class="button button-positive button-block">Join House</button>
      <button ng-click="backButton()" class="button button-light button-block button-outline">Go Back</button>
    </form>
  </div>
  <!-- Create form -->
  <div class="new-user-landing" ng-if="showCreateContainer">
    <img src="../img/housepal-logo.png" alt="">
    <h3>Create New House</h3>

    <form class="login-form">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">House Name</span>
          <input type="text" placeholder="House Name" ng-model="createFormData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">House Code</span>
          <input type="text" placeholder="Code" ng-model="createFormData.code">
        </label>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <p class="error-text">{{createError.text}}</p>
      <button ng-click="createFormSubmit(createFormData)" class="button button-balanced button-block">Create House</button>
      <button ng-click="backButton()" class="button button-light button-block button-outline">Go Back</button>
    </form>
  </div>


  </div>

  </ion-content>
</ion-view>
