<ion-view title="Laundry" cache-view="false">
  <ion-content class="has-header">
    <!-- Washer -->
    <div class="washer-top">
      <div>Washer</div>
    </div>
    <div class="laundry-section">
      <div class="laundry-content">

        <div class="laundry-icon-box">
          <img ng-if="laundryData.washer_status === false" class="laundry-icon" src="../img/washer1.png" alt=""></img>
          <img ng-if="laundryData.washer_status === true" class="laundry-icon" src="../img/washer-active.png" alt=""></img>
        </div>

        <!-- Details -->
        <div class="laundry-details">
          <div>
            <li class="item item-toggle">
              In Use:
              <label class="toggle">
                <input type="checkbox" ng-checked="laundryData.washer_status" ng-if="laundryData.washer_status === false" ng-click="toggleWasherOn()">
                <input type="checkbox" ng-checked="laundryData.washer_status" ng-if="laundryData.washer_status === true" ng-click="toggleWasherOff()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

            <div ng-if="laundryData.washer_status === false">
              <h5>Available</h5>
            </div>
            <div ng-if="laundryData.washer_status === true">
              <h5>Currently in use by <span ng-show="laundryData.washer_current_user.id === currentUser.id" class="ng-hide">you</span><span ng-show="laundryData.washer_current_user.id !== currentUser.id">{{laundryData.washer_current_user.name}}</span> as of {{washerTimeAgo}}</h5>
              <div class="btn-notify-laundry" ng-click="notifyMeWasher()" ng-if="laundryData.washer_status === true && laundryData.washer_current_user.id !== currentUser.id">
                <i class="icon ion-clock"></i>
                <span>Notify Me When Available</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Dryer -->
    <div class="dryer-top">
      <div>Dryer</div>
    </div>
  <div class="laundry-section">
    <div class="laundry-content">
      <!-- Icon -->
      <div class="laundry-icon-box">
        <img ng-if="laundryData.dryer_status === false" class="laundry-icon" src="../img/dryer1.png" alt=""></img>
        <img ng-if="laundryData.dryer_status === true" class="laundry-icon" src="../img/dryer-active.png" alt=""></img>
      </div>

      <!-- Details -->
      <div class="laundry-details">
        <div>
          <li class="item item-toggle">
            In Use:
            <label class="toggle">
              <input type="checkbox" ng-checked="laundryData.dryer_status" ng-if="laundryData.dryer_status === false" ng-click="toggleDryerOn()">
              <input type="checkbox" ng-checked="laundryData.dryer_status" ng-if="laundryData.dryer_status === true" ng-click="toggleDryerOff()">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>

          <div ng-if="laundryData.dryer_status === false">
            <h5>Available</h5>
          </div>
          <div ng-if="laundryData.dryer_status === true">
            <h5>Currently in use by <span ng-show="laundryData.dryer_current_user.id === currentUser.id" class="ng-hide">you</span><span ng-show="laundryData.dryer_current_user.id !== currentUser.id">{{laundryData.dryer_current_user.name}}</span> as of {{dryerTimeAgo}}</h5>
            <div class="btn-notify-laundry" ng-click="notifyMeDryer()" ng-if="laundryData.dryer_status === true && laundryData.dryer_current_user.id !== currentUser.id">
              <i class="icon ion-clock"></i>
              <span>Notify Me When Available</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
