<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page5">
  <ion-content class="manual-ios-statusbar-padding" scroll="false">

    <div class="login-section">
      <div class="logo">
        <img src="img/housepal-logo.png" alt="">
      </div>
      <form class="login-form">
        <p>Log In</p>
        <ion-list>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" placeholder="" ng-model="loginFormData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="" ng-model="loginFormData.password">
          </label>
        </ion-list>
        <div class="spacer" style="height: 20px;"></div>
        <button ng-click="login()" class="button button-positive button-block">Log In</button>
        <a ui-sref="signup()" class="button button-light button-block button-outline btn-signup">Sign Up</a>
      </form>
    </div>

  </ion-content>
</ion-view>
