<ion-view title="Shopping List" cache-view="false">
  <ion-content padding="true" class="has-header">

  <div class="todolistdiv">
      <div class="col-md-10 col-md-offset-1 text-center todo-section">
          <div>
              <form id="form-list" class="form form-inline" ng-submit="addItem(newItem)">
                  <input id="todo-input" type="text" name="todo-item" value="" placeholder="Task..." ng-model="newItem">
                  <input class="button button-stable" type="submit" name="" value="Add Task">
              </form>
          </div>
      </div>
  </div>
  <div class="todo-list-master" ng-repeat="item in listItems | orderBy:'created_at'">
      <div class="licontainer">
            <button class="btn-check button button-stable" type="button" name="button" ng-click="purchasedItem(item)"><span class="check"></span></button>
            <div class="list-title">
              {{item.item}}
            </div>
            <div class="filler"></div>
            <div class="buyer-show">
              {{item.buyer}}
            </div>
            <div class="drop" ng-class="{'drop-active': clicked}" ng-click="clicked = !clicked">
              <div class="arrow" ng-class="{'arrow-active': clicked}"></div>
            </div>
      </div>
      <div class="li-info" ng-class="{'li-info-active': clicked}">
        <form class="form-buyer" ng-submit="updateItem(item, buyer)">
            <label for="">Who plans to buy?</label>
            <select name="buyerselect" ng-model="buyer" ng-options="person as person.name for person in houseUsers | orderBy:'name'">
              <option value="" selected>Anyone</option>
            </select>
            <div class="list-update">
              <input class="button button-small button-balanced" type="submit" name="buyer" value="Update">
            </div>
        </form>
        <div class="list-delete">
          <button class="button button-small button-assertive" type="button" name="button" ng-click="deleteItem(item)">Delete</button>
        </div>
      </div>

    </div>
  </div>


  </ion-content>
</ion-view>
