<ion-view title="Signup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6">
  <ion-content padding="true" scroll="false">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="signupFormData.name">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder=""  ng-model="signupFormData.email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="" ng-model="signupFormData.password">
        </label>
      </ion-list>
      <button id="signup-button3" class="button button-stable button-block" ng-click="signup()">Sign up</button>
      <a ui-sref="login()" id="signup-button4" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>
