<ion-view title="House Settings" cache-view="false" id="page4">
  <ion-content padding="true" class="has-header">

<div class="">
  <h1>{{house.title}}</h1>
  <h5>House Share Code: <br>{{house.code}}</h5>
</div>



<div class="">
  <button type="button" name="button" class="button button-positive" ng-click="leaveHouse()">Leave house</button>
</div>

<div class="">
  <h4>Remove Housemates</h4>
  <form class="remove-housemate" ng-submit="removeHousemate(person)">
      <label for="">Remove:</label>
      <select name="housemates" ng-model="person" ng-options="person as person.name for person in removeUserList | orderBy:'name'">
        <option value="" selected disabled>Choose Name</option>
      </select>
      <div class="list-update">
        <input class="button button-small button-balanced" type="submit" name="buyer" value="Update">
      </div>
  </form>
</div>

  </ion-content>
</ion-view>
