<ion-view id="page1">
  <ion-tabs class="tabs-striped tabs-calm tabs-top tabs-icon-top" id="tabsController-tabs1">

    <ion-tab title="Message Board" icon="ion-android-chat" href="#/tabs/board" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chores" icon="ion-ios-list-outline" href="#/tabs/chores" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Shopping List" icon="ion-ios-cart" href="#/tabs/shopping-list" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Laundry" icon="ion-cube" href="#/tabs/laundry" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true" title="test" icon="ion-ios-cart" href="#/tabs/houseSettings" id="tabsController-tab9">
      <ion-nav-view name="tab9"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>

<!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item active" href="#">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div> -->
